.topbar {
    background-color: white;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 2%;
    position: fixed;
    z-index: 1;
}

@media(max-width: 750px) {
    .topbar { 
        position: relative;
        height: initial;
    }

    .topbar a { 
        display: block;
        height: initial;
        width: 100%;
        text-align: center;
    }
}

.topbar a {
    display: inline-block;
    height: 49px;
    line-height: 49px;
    padding: 0 15px;
    transition: all 0.3s;
}

.topbar a:hover {
    text-decoration: none;
    background-color: #eee;
}

.footer {
    border-top: 1px solid #444;
    padding: 10px 2% 50px;
}

.footer p {
    font-size: 12px;
    line-height: 20px; 
    margin: 0;
}

.main-container {
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    margin: 0;
    padding: 0;
    width: 100%;
}

.content {
    background-color: white;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 50px 2.5% 100px;
    width: 70%;
}

ul.block-list {
    align-items: center;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.block-list li{
    list-style-type: none;
    display: inline-block;
    opacity: 0.9;
    margin: 0;
    transition: all 0.5s;
    width: 20%;
}

@media(max-width: 700px) {
    .block-list li {
        width: 50%;
    }
}

@media(max-width: 400px) {
    .block-list li {
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
}

.block-list a {
    display: block;
    font-size: 15px;
    color: #444;
    height: 150px;
    padding: 20px;
    width: 100%;
    transition: all 0.3s;
}

.block-list li:hover {
    transition-delay: all 0.1s;
}

.block-list li:nth-child(odd):hover {
    background-color: #e8f6fb;
}

.block-list li:nth-child(even):hover {
    background-color: #fefbeb;
}

.block-list a:hover {
    color: #999;
    text-decoration: none;
    transition-delay: all 0.1s;
}

/*
 * Parallax
 */
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 400px; 
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; 
}

.parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translateX(-50%); 
}

.title {
    background-color: white;
    border: 1px solid #666;
    border-radius: 7px;
    margin: 185px auto 0;
    padding: 20px 50px;
    width: 20%;
    min-width: 300px;
}
.parallax-text {
    line-height: 30px;
    text-align: center;
}
