{% extends 'recordstore/includes/base.html' %}

{% block body %}
    <h3>{{ object }}</h3>

    <h5>Albums</h5>
    <ul>
        {% for album in object.album_set.all %}
            <li>
                <a href='{% url "recordstore:album_detail" album.id %}'>
                    {{ album }}
                </a>
            </li>
        {% empty %}
            <li>No albums</li>
        {% endfor %}
    </ul>

    <p>
        Missing an album? Create it 
        <a href='{% url "recordstore:create_album" %}'>
            here
        </a>
    </p>
{% endblock %}
