{% extends 'recordstore/includes/base.html' %}

{% block body %}
    <div class="panel panel-default">
        <div class='panel-heading'>
            <h3 class='panel-title'>Create a new pressing</h3>
        </div>
        <div class="panel-body">
            <form action='{% url "recordstore:process_pressing" %}'method="POST">
                {% csrf_token %}
                {{ pressing_form.as_p }}
                <button class='btn btn-primary' type='submit'>Submit</button>
            </form>
        </div>
    </div>

    <p>
        Missing a record label? Create it first
        <a href='{% url "recordstore:create_record_label" %}'>
            here.
        </a>
    </p>
{% endblock %}
