{% extends 'recordstore/includes/base.html' %}

{% block body %}
    <div class='row'>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class='panel-title'>
                        <a href='{% url "recordstore:all_artists" %}'>
                            All Artists &rarr;
                        </a>
                    </h3>
                </div>
                <div class="panel-body">
                    Browse all the artists in the database
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class='col-xs-12'>
            <ul class="block-list">
                {% for artist in artists %}
                    <li>
                        <a href='{% url "recordstore:artist_detail" artist.id %}'>
                            {{ artist }}
                        </a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
