{% extends 'recordstore/includes/base.html' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class='panel-title'>
                <a href='{% url "recordstore:album_detail" object.album.id %}'>
                    &larr; {{ object.album }}
                </a>
            </h3>
        </div>
        <ul class='list-group'>
            <li class='list-group-item'>
                Label: {{ object.label }}
            </li>
            <li class='list-group-item'>
                Pressing Number: {{ object.version_number }}
            </li>
            <li class='list-group-item'>
                Format: {{ object.get_release_format_display }}
            </li>
            <li class='list-group-item'>
                <form action='{% url "recordstore:add_to_collection" %}' method='POST'>
                    {% csrf_token %}
                    <input type='hidden' name='album_id' value='{{ object.album.id }}' />
                    <input type='hidden' name='pressing_id' value='{{ object.id }}' />
                    <button class='btn btn-primary' type='submit'>
                        Add To Collection
                    </button>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}
