{% extends 'recordstore/includes/base.html' %}

{% block title %} Profile - {% endblock%}

{% block body %}
    <div class='row'>
        <div class='col-xs-6'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Profile Info</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        First Name: {{ rc_user.django_user.first_name }}
                    </li>
                    <li class="list-group-item">
                        Last Name: {{ rc_user.django_user.last_name }}
                    </li>
                    <li class="list-group-item">
                        Username: {{ rc_user }}
                    </li>
                    <li class="list-group-item">
                        Joined: {{ rc_user.django_user.date_joined|timesince }}
                    </li>
                </ul>
                <div class='panel-footer'>
                    <a href='{% url "recordstore:edit_user" %}'>Edit</a>
                </div>
            </div>

            <div class='panel panel-default'>
                <div class="panel-heading">
                    <h3 class="panel-title">Your Friends</h3>
                </div>
                <ul class="list-group">
                    {% for friend in rc_user.friends %}
                        <li class="list-group-item">
                            {{ friend }}
                        </li>
                    {% empty %}
                        <li class="list-group-item">
                            You have no friends...
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class='panel panel-default'>
                <div class="panel-heading">
                    <h3 class="panel-title">Recommended for you</h3>
                </div>
                <ul class="list-group">
                    {% for pressing in recommendations %}
                        <li class="list-group-item">
                            <a href='{% url "recordstore:pressing_detail" pressing.id %}'>
                                {{ pressing }}
                            </a>
                        </li>
                    {% empty %}
                        <li class="list-group-item">
                            You have no recommendations...
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-xs-6">
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>Your Collection</h3>
                </div>
                <ul class='list-group'>
                    {% for record in records %}
                        <li class='list-group-item'>
                            <div>
                                <p>
                                    <a href='{% url "recordstore:album_detail" record.album.id %}'>
                                        {{ record }} &rarr;
                                    </a>
                                </p>
                                <form action='{% url "recordstore:delete_collection" %}' method='POST'>
                                    {% csrf_token %}
                                    <input type='hidden' name='id' value='{{ record.id }}'/>
                                    <button class='btn btn-default' type='submit'>Remove</button>
                                </form>
                            </div>
                        </li>
                    {% empty %}
                        <li class='list-group-item'>
                            You don't own any records...
                            <a href='{% url "recordstore:all_records" %}'> Try adding some &rarr;</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="panel-footer">
                    <a href='{% url "recordstore:all_records" %}' class='btn btn-default'>
                        Add More +
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
