<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recordstore</title>
    {% load staticfiles %}

    <link rel='stylesheet' type='text/css' href='{% static "recordstore/css/style.css" %}' />
    {% block style %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</head>
<body>
    <div class='topbar'>
        <a href='{% url "recordstore:home" %}'>home</a>
        {% if not user.is_authenticated %}
            <a href='{% url "recordstore:login" %}'>login</a>
        {% else %}
            <a href='{% url "recordstore:logout" %}'>log out</a>
        {% endif %}
    </div>
    <div class='main-container'>
        <h2>Recordstore</h3>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
